html, body {
    font-family: "Raleway", serif;
    font-size: 1.2vw;
    color: #333;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('/images/white-brick.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.navList {
    margin-top: 0;
}

.navItem {
    font-size: 5.5vw;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 1%;
    justify-content: flex-end;
    background-color: #D4D4D4;
}

nav li {
    margin: 0 2%;
}

nav a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease; 
    font-size: 2.2vw;
}

nav a:hover {
    color: #7da0c7;
}

.container {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: right;
    margin-top: 18%;
    margin-left: 10%;
    margin-bottom: 25%;
    flex-wrap: wrap;
}

h1 {
    font-size: 8vw;
    margin-bottom: -1%;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.text-section {
    flex: 1;
    margin-right: 5%;
}

.text-about {
    color: #333;
    font-size: 2.6vw;
    max-width: 50%;
    line-height: 1.6;
    margin-left: 5%;
    margin-top: 5%;
}

.image-section {
    position: absolute;
    top: 35%;
    right: 10%;
    max-width: 30%;
    z-index: 1;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    font-family: "Raleway", serif;
    text-align: right;
    margin-right: 2%;
    background-color: #D4D4D4;
    color: #333;
    font-size: 4.6 vw;
}

footer a {
    color: #888888;
    text-decoration: none;
    transition: color 0.3s ease;
}